/* Le corps de toutes les pages du site */

body{
	/*background-image: url(background.jpg); Il faut ici avoir une image pour le background à mettre*/
	background-repeat: no-repeat; /* à ajuster en fonction du back */
	height: 100%;
	background-attachment: fixed;
	color: red;
}

/* Faire ici le style de tous les "articles" du sites 
		Il s'agit ici de on va dire les grandes textes du site */
article{
	/* TODO !!! */
}