/* TOUTES LES POLICES D'ECRITURES DU SITE WEB */
	/* Spectrashell utilisé pour le titre du site */
@font-face {
    font-family: 'spectrashell';
    src: url('police/spectrashell/spectrashell-webfont.woff2') format('woff2'),
         url('police/spectrashell/spectrashell-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Le corps de toutes les pages du site */
body{
	background-image: url(images/planetdice.png);
	/*font-family: A AJOUTER */
	background-repeat: no-repeat; /* à ajuster en fonction du back */
	height: 100%;
	background-attachment: fixed;
	background-size : cover;
	background-color: #3e365d;
}

/* Pour désactiver le sous-lignage du texte des liens */
a{
	text-decoration: none;
}

/* Faire ici le style de tous les "articles" du sites 
		Il s'agit ici de on va dire les grandes sections du site */
article{
	background-color: rgba(71, 56, 89, 0.75); /* une sorte de violet transparant */
}

/* TOUTES LA MISE EN PAGE POUR LA NAVIGATION, tout ce qui suit fait référence à la page "nav.php" */
	/* Toutes les options de mises en pages suivantes sont là pour le titre central des pages */
/* Entre autre la mise en page de la nav */
header{
	display: flex;
	justify-content: center;
}

/* Titre pour la navigation du site web */
h1{
	margin-block-end: 0px;
    margin-block-start: 0px;
}

/* Permet de faire la mise en forme  */
#title{
	font-size: 65px;
    color: #7185D0;
    background-color: #34333E;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    font-family: spectrashell;
}

/* Définition juste pour permetre de faire le lien pour reconduire sur la page central */
#linkToMenu{
	color: #CEA5A9;
    font-size: 20px;
    margin-left: 15px;
}

/* Mise en page du logo présent sur nav.php */
#logo{
	height: 80px;
    position: relative;
    top: 18px;
    margin-right: 15px;
}
	/* Toutes les définitions purement de la navigation */